{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="flex justify-center items-center gap-20 flex-col mx-auto my-28"> 
    <div class="p-8 space-y-6 bg-gray-200 rounded-lg shadow-md w-3/6">
        <h1 class="text-3xl font-bold text-black text-center">Modifier les informations de livraison</h1>
        <br>
        <form class="space-y-6" method="POST" action="{% url 'profile' %}">
            {% csrf_token %}
            {{ delivery_form.non_field_errors }}
            <div class="container">
                <div>
                    <label for="id_first_name" class="block text-black text-sm font-medium text-gray-700 my-2">Prénom</label>
                    {{ delivery_form.first_name }}
                    {% for error in delivery_form.first_name.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label for="id_last_name" class="block text-black text-sm font-medium text-gray-700 my-2">Nom de famille</label>
                    {{ delivery_form.last_name }}
                    {% for error in delivery_form.last_name.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label for="id_phone_number" class="block text-black text-sm font-medium text-gray-700 my-2">Numéro de téléphone</label>
                    {{ delivery_form.phone_number }}
                    {% for error in delivery_form.phone_number.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label for="id_address1" class="block text-black text-sm font-medium text-gray-700 my-2">Adresse 1</label>
                    {{ delivery_form.address_1 }}
                    {% for error in delivery_form.address_1.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label for="id_address2" class="block text-black text-sm font-medium text-gray-700 my-2">Adresse 2</label>
                    {{ delivery_form.address_2 }}
                    {% for error in delivery_form.address_2.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label for="id_city" class="block text-black text-sm font-medium text-gray-700 my-2">Ville</label>
                    {{ delivery_form.city }}
                    {% for error in delivery_form.city.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="container grid grid-cols-2 gap-5 my-2">
                    <div>
                        <label for="id_zip_code" class="block text-black text-sm font-medium text-gray-700">Code Postal</label>
                        {{ delivery_form.zip_code }}
                        {% for error in delivery_form.zip_code.errors %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="id_country" class="block text-black text-sm font-medium text-gray-700">Pays</label>
                        {{ delivery_form.country }}
                        {% for error in delivery_form.country.errors %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" name="delivery_form"
                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-lg font-medium text-white bg-black hover:bg-black-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black-500">
                Valider les informations de livraison
            </button>
        </form>
    </div>
    <div class="p-8 space-y-6 bg-gray-200 rounded-lg shadow-md w-3/6">
        <br>
        <h1 class="text-3xl font-bold text-black text-center">{% translate "Reset Password" %}</h1>
        <br>
        <form class="space-y-6" method="POST" action="{% url 'profile' %}">
            {% csrf_token %}
            {{ password_form.non_field_errors }}
            <div class="container">
                <div>
                    <label for="id_new_password1" class="block text-black text-sm font-medium text-gray-700 my-2">{% translate "New password" %}</label>
                    {{ password_form.new_password1 }}
                    {% for error in password_form.new_password1.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label for="id_new_password2" class="block text-black text-sm font-medium text-gray-700 my-2">{% translate "Confirm new password" %}</label>
                    {{ password_form.new_password2 }}
                    {% for error in password_form.new_password2.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                <br>
                <div>
                    {{ password_form.captcha }}
                    {% for error in password_form.captcha.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            
            <button type="submit" name="password_form"
                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-lg font-medium text-white bg-black hover:bg-black-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black-500">
                    {% trans "Reset the new password" %}
            </button>
        </form>
    </div>
</div>
</div>
<h1>Adresses de livraison</h1>
{% for address in addresses %}
    {% include 'accounts/address.html' %}
{% endfor %}

{% endblock %}

